@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte-principal: "Inter", sans-serif;
    --color-primaria: #F3F5FC;
    --color-secundaria: #0A3871;
    --color-terciaria: #ffffff;
    --color-quartenaria: #D8DFE8;
    --color-quinta: #495057;
    --color-sexta: #343A40;
}

* {
    margin: 0;
    font-family: var(--fonte-principal);
}

body {
    background-color: var(--color-primaria);
}

.container {
    margin: 40px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    /* width: 100%; */
}

.inputTexArea {
    /* padding-top: 168px; */
    align-self: flex-start;
    width: 100%;
    height: 200px;
    border: none;
    background-color: var(--color-primaria);
    align-items: center;
    color: var(--color-secundaria);
    font-size: 2rem;
    outline: none;
    /* word-break: break-word; */
    overflow: hidden;
    /* resize: none;     */
}

textarea::placeholder{
    color: var(--color-secundaria);
    font-size: 2rem;
}

.container__funcoes {
    width: 47.22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    /* padding: 30px 0px; */
    /* margin-bottom: -10%; */
}

.container__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.paragrafo {
    display: flex;
    gap: 8px;
    color: var(--color-quinta);
}

.container__buttons__buttons {
    display: flex;
    gap: 24px; 
}

.buttons {   
    width:48.23%;
    padding: 24px;
    border-radius: 24px;
}

.button_01 {
    background-color: var(--color-secundaria);
    color: var(--color-terciaria);
    border: none;
}

.button_02 {
    /* background-color: var(--color-quartenaria); */
    color: var(--color-secundaria);
    border: 1px solid var(--color-secundaria);
}

.container__textoDescriptado {
    background-color: var(--color-terciaria);
    width: 27.78%;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
    padding: 32px;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.103));
}

.container__textoDescriptado> img {
    width: 100%;
    height: auto;
}

.container__textoDescriptado__mensagens {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    gap: 16px;
    padding: 0% 4%;
}

.container__textoDescriptado__mensagens> h2 {
    color: var(--color-sexta);
    font-weight: bold;
    font-size: 1.5rem;
}

.container__textoDescriptado__mensagens> p {
    color: var(--color-quinta);
    font-size: 1rem;
}

.button_03 {
    width:100%;
    color: var(--color-secundaria);
    border: 1px solid var(--color-secundaria);
    background-color: var(--color-terciaria);
}